<section id="team-sec">
    <h1 class="text-3xl md:text-5xl font-bold mt-4 mb-8">
        Ekibimiz!
    </h1>
    <div class="team">
        <div class="team-section">
            <div class="team-member">
                <img src="assets/images/team/Ali_altun.jpeg" alt="Ali Altun">
                <h3>Ali Altun</h3>
                <p class="role">Yazılım Geliştirici</p>
                <a href="https://www.linkedin.com/in/alibilgealtun/" target="_blank" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
            <div class="team-member">
                <img src="assets/images/team/Doga_oytac.jpeg" alt="Doğa Oytaç">
                <h3>Doğa Oytaç</h3>
                <p class="role">Yazılım Geliştirici</p>
                <a href="https://www.linkedin.com/in/do%C4%9Fa-oyta%C3%A7-0240b622a/" target="_blank" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
            <div class="team-member">
                <img src="assets/images/team/zehra_ubay.jpeg" alt="Zehra Ubay">
                <h3>Zehra Ubay</h3>
                <p class="role">Yazılım Geliştirici</p>
                <a href="https://www.linkedin.com/in/zehraubay/" target="_blank" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
            <div class="team-member">
                <img src="https://cutt.ly/Hwn6Y0NL" alt="John Doe">
                <h3>John Doe</h3>
                <p class="role">Yazılım Geliştirici</p>
                <a href="https://www.linkedin.com/in/do%C4%9Fa-oyta%C3%A7-0240b622a/" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
        </div>
    </div>
    <div class="team">
        <div class="team-section">
            <div class="team-member">
                <img src="https://cutt.ly/Hwn6Y0NL" alt="John Doe">
                <h3>John Doe</h3>
                <p class="role">Yazılım Geliştirici</p>
                <a href="https://www.linkedin.com/in/do%C4%9Fa-oyta%C3%A7-0240b622a/" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
            <div class="team-member">
                <img src="https://cutt.ly/Hwn6Y0NL" alt="John Doe">
                <h3>John Doe</h3>
                <p class="role">Yazılım Geliştirici</p>
                <a href="https://www.linkedin.com/in/do%C4%9Fa-oyta%C3%A7-0240b622a/" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
            <div class="team-member">
                <img src="https://cutt.ly/Hwn6Y0NL" alt="John Doe">
                <h3>John Doe</h3>
                <p class="role">Yazılım Geliştirici</p>
                <a href="https://www.linkedin.com/in/do%C4%9Fa-oyta%C3%A7-0240b622a/" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
            <div class="team-member">
                <img src="https://cutt.ly/Hwn6Y0NL" alt="John Doe">
                <h3>John Doe</h3>
                <p class="role">Yazılım Geliştirici</p>
                <a href="https://www.linkedin.com/in/do%C4%9Fa-oyta%C3%A7-0240b622a/" class="fa">
                    <img src="assets/images/icons/linkedin.png" alt="LinkedIn Icon">
                </a>
            </div>
        </div>
    </div>
</section>
